* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33em;
  color: #777777;
}

header {
  background-color: #ffffff;
  padding: 20px 0 10px 0;
  -webkit-box-shadow: 0px 7px 8px -2px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: 0px 7px 8px -2px rgba(50, 50, 50, 0.22);
  box-shadow: 0px 7px 8px -2px rgba(50, 50, 50, 0.22);
  position: fixed;
  display: inline-block;
  width: 100%
}

main {
  padding-top: 120.36px;
}



nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  padding-right: 0;
  font-size: 20px;
}

.icon {
  color: #00abc8;
}

#navbar {
  font-size: 1em;
}

#hero {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.25em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height: .75em;
  color: #00637e;
}

img {
  width: 100%
}


a {
  color: #00abc8;
  text-decoration: none;
}

a:hover {
  color: #00abc8;
  opacity: 0.8;
}

a:active {
  color: #00abc8;
  opacity: 0.8;
}

.logo {
  max-width: 150px;
  text-align: center;
}

.center {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #00abc8;
  color: #ffffff !important;
  font-size: .9em;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  transition: .2s opacity;
}

.button:hover {
  opacity: .8;
  text-decoration: none;
  font-weight: 500 !important;
}

.button.contact {
  background-color: transparent;
  color: #00abc8 !important;
  text-transform: uppercase;
  border: 2px solid #00abc8;
  padding: 10px 25px;
  letter-spacing: 1px;
}

.button.contact:hover {
  background-color: #00abc8;
  color: #ffffff !important;
}

.hide {
  display: none;
}

.title {
  display: block;
  padding-top: 20px;
}


/* Animation */

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 2s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}



/* Layout Styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* MEDIUM DEVICES 640px and larger*/
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  .logo {
    padding-top: 12px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }

  body {
    font-size: 18px;
  }

  .hide {
    display: none;
  }

  .title {
    display: block;
    padding-top: 10px;
  }

  .col-md-6 {
    width: 50%;
  }

}


/* LARGE DEVICES 1024px or larger*/
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .hide {
    display: inline-block;
  }

  .title {
    display: inline-block;
  }
}
